go 1.21.3

use (
	common
	daggerverse/actions/generator
	daggerverse/actions/runtime
	daggerverse/gale
	daggerverse/gha/actions/hello-world-javascript-action
	daggerverse/gha/aquasecurity/trivy-action
	daggerverse/gha/trufflesecurity/trufflehog
	daggerverse/repo
	daggerverse/source
	ghx
	services/artifact
	services/artifactcache
)
