go 1.21

use (
	common
	daggerverse/actions/runtime
	daggerverse/gale
	daggerverse/gha/trufflesecurity/trufflehog
	daggerverse/repo
	daggerverse/source
	gha2dagger
	ghx
	services/artifact
	services/artifactcache
)
